* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #101010; color: white;
}

header {
    background: #171717; padding: 15px;
    border-bottom: 2px solid #c9a227;
}

nav {
    display: flex; justify-content: space-between;
    align-items: center;
}

nav h1, section h2, article h3, footer h3 {
    color: #c9a227;
}

nav ul {
    display: flex; gap: 15px; list-style: none;
}

nav a, footer a {
    color: white; text-decoration: none;
}

nav a:hover, footer a:hover {
    color: #c9a227;
}

.capa {
    height: 400px; text-align: center;
    padding-top: 150px;
    background: linear-gradient(#0008, #332b12);
}

.capa h2 {
    font-size: 50px; color: #c9a227;
}

.capa p { margin-top: 10px; }

section { padding: 50px 8%; }

section h2 {
    text-align: center; margin-bottom: 25px;
}

#sinopse { text-align: center; }

#sinopse img {
    width: 230px; border-radius: 5px;
}

#sinopse p {
    max-width: 700px; margin: 10px auto;
    line-height: 1.5;
}

#trailer, #curiosidades, #contato {
    background: #171717; text-align: center;
}

iframe {
    width: 80%; height: 350px;
    border: 2px solid #c9a227;
}

.cards, .galeria {
    display: flex; justify-content: center;
    gap: 20px; flex-wrap: wrap;
}

article {
    width: 30%; background: #1b1b1b;
    text-align: center; border-radius: 5px;
    padding-bottom: 15px;
}

article img {
    width: 100%; height: 230px;
    object-fit: cover;
}

article h3 { margin: 10px; }

article p, #curiosidades p {
    margin: 7px; color: #ddd;
}

.galeria img {
    width: 200px; height: 230px;
    object-fit: cover; border-radius: 5px;
}

.galeria img:hover { opacity: .8; }

form { max-width: 600px; margin: auto; }

input, textarea {
    width: 100%; padding: 12px; margin-bottom: 10px;
    background: #222; color: white;
    border: 1px solid #555; border-radius: 5px;
}

textarea { height: 100px; }

button {
    width: 100%; padding: 12px;
    background: #c9a227; border: 0;
    border-radius: 5px; cursor: pointer;
}

button:hover { background: white; }

footer {
    background: #0a0a0a; text-align: center;
    padding: 25px; border-top: 2px solid #c9a227;
}

footer h3 { margin-bottom: 10px; }

.rede {
    display: inline-block; background: #d21414;
    color: #111; width: 40px; height: 40px;
    line-height: 40px; margin: 5px;
    border-radius: 50%; text-decoration: none;
    font-size: 20px;
}

.rede:hover { background: white; }

.fa-instagram {
    font-size: 30px; color: #c9a227;
}

.fa-instagram:hover { background: white; }

@media (max-width: 700px) {
    nav, .cards {
        flex-direction: column; text-align: center;
    }

    nav ul {
        margin-top: 15px; justify-content: center;
        flex-wrap: wrap;
    }

    article { width: 90%; margin: auto; }
    iframe { width: 100%; height: 250px; }
}
